<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Tracker</title>
</head>
<body>
    <h1>List Exercise</h1>
    {% if exercise_list %}
        <ul>
        {% for exercise in exercise_list %}
            <li><a href="/workout_tracker/v1/exercises/{{exercise_id}}/">{{exercise.exercise_name}}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No exercises are available</p>
    {% endif %}
</body>
</html>


